body
{
	font-family:" Helvetica Neue",sans-serif;
	font-size: 1.4em;
	font-weight: 100;
	width: 500px;
	padding: 0px;
	margin-left: 25em;

}
div
{
	display: flex;
	flex-wrap: nowrap;
}
img
{
	width: 200px;
	height: 200px;
}
